extends layout

img(src="images/SPLogo.png")
block content
	header
		container(id="branding")
				img(src="images/SPLogo2.png")
				nav
					ul  
						li
								|  Loading Soundboard	
	br
	br
	br
	br